aiobotocore==1.4.2
aiofiles==0.8.0
fastapi==0.70.1
imjoy-jupyter-extension==0.2.17
imjoy-rpc==0.3.31
ipykernel==6.6.0
jinja2==3.0.3
jupyter==1.0.0
msgpack==1.0.3
numpy==1.22.0  # needs to stay compatible with latest tensorflow
playwright==1.17.2
pydantic[email]==1.8.2
python-dotenv==0.19.2
python-jose==3.3.0
python-socketio[asyncio_client]==5.0.4  # pin for now to solve unknown connection issue
pyyaml==6.0
shortuuid==1.0.8
uvicorn==0.16.0
requests==2.26.0
