aiohttp==3.7.4.post0
aiohttp_cors==0.7.0
imjoy-rpc==0.2.56
numpy==1.19.5  # needs to stay compatible with latest tensorflow
python-socketio[asyncio_client]==5.2.1  # pin for now to solve unknown connection issue
pyyaml==5.4.1
